p {
    text-align: center;
}

.regionSelection {
    margin-top: 100px;
    font-size: 1.5rem;
}

#cmbCountry {
    font-family: 'Arial';
    font-size: 1.2rem;
}

#cmbRegion {
    font-family: 'Arial';
    font-size: 1.2rem;
    margin-left: 10px;
}

#enteredCity {
    font-family: 'Arial';
    font-size: 1.5rem;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-flex;
    width: initial;
}

#btnGetWeather {
    font-size: 1.2rem;
    font-family: Arial;
    font-weight: bold;
    /* margin-top: -4px; */
    margin-left: 5px;
    background-color: hsla(117, 70%, 41%, 0.559);
    /* border-radius: 5px; */
    /* border: 0; */
    cursor: pointer;
    padding: 8px;
}

#btnGetWeather:hover {
    background-color: hsla(117, 70%, 41%, 0.9);
    color: aliceblue;
}

.currentWeatherCard {
    margin: 0;
    background-image: url(../img/sunny.webp);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 2px 2px 2px gray;
    max-width: 30rem;
}

#currentWeatherHeading {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

#temperature {
    font-size: 3rem;
}

#weatherIcon {
    width: 6rem;
}

#conditionText {
    font-size: 1.5rem;
    font-family: 'Cambria';
    text-align: left;
}

.currentWeatherExtraInfo {
    display: flex;
    font-family: 'Cambria';
}

.subInfo {
    margin: 2px;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 1.2rem;
}

#humidity {
    margin: 2px;
    border: solid;
    padding: 20px;
}

#wind {
    margin: 2px;
    border: solid;
    padding: 20px 30px;
}

#topic {
    display: none;
}

#countryName {
    display: none;
}

#forecastHeading {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif
}

.forecast {
    margin: 10px;
    background-image: url(../img/rainy.jpg);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 2px 2px 2px gray;
    min-width: 510px;
}

.forecastDay {
    display: flex;
    /* flex-direction: column; */
}

.smallCard {
    border: solid;
    width: auto;
}

.dayGroup {
    display: flex;
}

.smallCard {
    margin: 2px;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallCard p {
    font-size: 1.5rem;
    font-family: 'Cambria';
}

.smallCard h3 {
    text-align: center;
}

.smallCard img {
    width: 5rem;
}

.pastWeather {
    border-radius: 50px;
    /* border: solid; */
    /* border-color: black; */
    margin-top: 20px;
    background-color: bisque;
    padding-bottom: 10px;
}
#pastWeather{
    display: none;
}

.carousel-indicators button[data-bs-target] {
    background-color: black;
}

.history-card-img {
    width: 100px;
    display: flex;
}

.history-group {
    display: flex;
    flex-direction: column;
}

.history-card {
    display: flex;
    flex-direction: column;
}

.history-card p {
    font-size: 1.2rem;
    font-family: 'Cambria';
}

.carousel-control-next-icon {
    background-image: url(../img/arrow_forward_FILL0_wght400_GRAD0_opsz24.svg);
}
.carousel-control-prev-icon {
    background-image: url(../img/arrow_back_FILL0_wght400_GRAD0_opsz24.svg);
}

/* HTML: <div class="loader"></div> */
.loader {
    
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
  #spinner{
    display: flex;
  }